POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=authservice
POSTGRES_USERNAME=auth_user
POSTGRES_PASSWORD=change-me
SERVER_PORT=9898
JWT_SECRET=ZmFrZS1iYXNlNjQtc2VjcmV0LWZvci1kZXYtb25seS1jaGFuZ2UtbWU=
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7
